.date-filter-box {
  width: 100%;
}
.small-acc-card-box {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 6.03px 15.074px 0px rgba(0, 0, 0, 0.08);
  padding: 10px;
  width: 30%;
}
.small-tit-acc {
  font-size: 16px;
  font-weight: 700;
}
.top-acc-small {
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.total-acc-per {
  font-size: 20px;
  font-weight: 900;
  color: #6fab23;
}
.acc-row-for-cards {
  width: 80%;
  justify-content: space-between;
  margin: 20px 0;
}
.amr {
  color: #4a88c7;
}
.lft-tstx {
  font-size: 12px;
  font-weight: 700;
}
.profit-percent {
  font-size: 13px;
  font-weight: 800;
  margin-top: 5px;
}
.rgt-tstx-c {
  font-size: 10px;
  color: #6fab23;
  font-weight: 800;
  cursor: pointer;
}
.lsef-row-txt {
  color: #212529;
}
.chart-acc-coloum {
  width: 35%;
}
.summary-acc-coloum {
  width: 30%;
}
.calender-coloum {
  width: 30%;
}
.chart-acc-card-box {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 15px;
}
.top-cht-tst {
  align-items: flex-start;
}
.dow-row-container {
  align-items: flex-start;
  justify-content: space-between;
}
.summary-txt {
  font-size: 16px;
  font-weight: 900;
}
.date-txt-acc {
  font-size: 9px;
  color: #6c757d;
  font-weight: 600;
}
.amm-summ-txt {
  font-size: 14px;
  font-weight: 800;
}
.ord-title-summ {
  font-size: 12px;
  font-weight: 500;
  color: #343a40;
}
.orders-box-acc {
  justify-content: space-between;
  margin: 15px 0;
}
.summary-top-box {
  background: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}
.each-time-summ-box {
  margin: 10px 0 30px;
}
.icon-bx-summ {
  width: 20px;
  height: 20px;
  border: 1px solid #6fab23;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6fab23;
}
.txt-line {
  font-size: 12px;
  font-weight: 800;
}
.txt-body-summ {
  font-size: 9px;
  color: #6c757d;
}
.text-line-box {
  align-items: flex-start;
  gap: 3px;
}
.time-summ {
  font-size: 10px;
  font-weight: 500;
  color: #6c757d;
}
.each-summ-card-b {
  align-items: flex-start;
  margin: 15px 0;
}
.expenses-txt {
  border: 1px solid #dc3545;
  color: #dc3545;
}
.btn-fil-can {
  height: 35px;
  padding: 0 20px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}
.fil-btn {
  background: #007aff;
  border: none;
  color: #fff;
}
.filter-cancel-btn {
  display: flex;
  gap: 15px;
  margin: 20px auto;
  justify-content: center;
}
.cal-box-container {
  border-radius: 20px;
  background: #fff;
  padding: 10px;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 1200px) {
  .acc-filter-bx {
    display: flex;
    align-items: center;
    justify-content: flex-end !important;
    width: 100%;
  }
  .acc-row-for-cards {
    width: 100%;
    flex-wrap: wrap;
  }
  .calender-coloum {
    display: none;
  }
  .summary-acc-coloum {
    width: 45%;
  }
  .chart-acc-coloum {
    width: 50%;
  }
  .chart-acc-coloum {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 1000px) {
  .summary-acc-coloum {
    width: 100%;
  }
  .chart-acc-coloum {
    width: 100%;
  }
  .account-row {
    flex-direction: column;
  }
}
@media only screen and (max-width: 800px) {
  .acc-filter-bx {
    align-items: flex-end;
    justify-content: flex-end !important;
  }
  .top-acc-small img {
    width: 20px;
  }
  .small-tit-acc {
    font-size: 12px;
  }
  .total-acc-per {
    font-size: 13px;
  }
}
@media only screen and (max-width: 400px) {
  .top-acc-small img {
    width: 15px;
  }
  .small-tit-acc {
    font-size: 10px;
  }
  .total-acc-per {
    font-size: 10px;
  }
  .lft-tstx {
    font-size: 10px;
  }
  .rgt-tstx-c {
    font-size: 9px;
  }
  .amm-summ-txt {
    font-size: 10px;
  }
  .ord-title-summ {
    font-size: 9px;
  }
}
@media only screen and (max-width: 320px) {
  .acc-row-for-cards {
    flex-direction: column;
    gap: 10px;
  }
  .small-acc-card-box {
    width: 100%;
  }
  .top-acc-small img {
    width: 20px;
  }
  .small-tit-acc {
    font-size: 13px;
  }
  .total-acc-per {
    font-size: 13px;
  }
}
