.service-card-container{
 
}
.add-new-btn {
  color: #fff;
  background: #003ecb;
  border-radius: 10px;
  padding: 5px 10px;
  outline: none;
  border: none;
}
.search-service-box {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 30%;
}
.search-serv-input {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 5px;
  width: 80%;
}
.inp-all-serv {
  width: 100%;
  background: none;
  outline: none;
  border: none;
}
.ser-icnn {
  font-size: 20px;
}
.search-serv-input {
  gap: 10px;
}
.search-all-btn {
  width: 40px;
  height: 40px;
  background: #005ADE;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 10px;
  font-size: 25px;
}
.switch-filter-box {
  border-radius: 16px;
  background: #f8f9fe;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  height: 45px;
  width: 80%;
}
.each-filter {
  width: 50%;
  text-align: center;
  color: #71727a;
  font-size: 14px;
  font-weight: bolder;
  cursor: pointer;
}
.filt-act {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filt-sett {
  color: #003ecb;
  font-weight: bold;
  font-size: 18px;
  gap: 10px;
}
.filtr-main-box {
  width: 35%;
  gap: 10px;
  justify-content: space-between;
}
.search-filter-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 20px 0;
}
button {
  outline: none;
}
.all-serv-img-box {
  position: relative;
}
.all-serv-img-box img {
  border-radius: 20px;
  width: 100%;
}
.service-card-container {
  width: 250px;
}
.all-ser-card-top {
  font-size: 14px;
  font-weight: 800;
  color: #000;
}
.all-ser-card-bdy {
  font-size: 12px;
  color: rgba(12, 17, 31, 0.6);
  margin: 10px 0;
}
.txt-tp-btm {
  background: #fff;
  padding: 10px;
}
.fixed-txt {
  font-size: 12px;
  color: rgba(12, 17, 31, 0.6);
}
.price-txt {
  font-size: 18px;
  font-weight: bolder;
  color: #000;
}
.see-more-btn {
  border: none;
  background: #003ecb;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
}
.bttom-card-bx {
  margin: 10px;
}
.low-ma {
  position: absolute;
  top: 0;
  left: 0;
}
.all-cl {
  color: #ffcd6b;
  font-size: 16px;
}
.rate-star {
  color: #fff;
  border-radius: 44.34px;
  background: rgba(12, 17, 31, 0.24);
  box-shadow: 6.747px 0px 19.278px 0px rgba(255, 255, 255, 0.15) inset;
  backdrop-filter: blur(3.8556907176971436px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 10px;
  position: absolute;
  width: 80px;
  right: 10px;
  top: 10px;
  z-index: 111;
}
.all-services-card-row {
  flex-wrap: wrap;
  
  width: 55vw;
  gap: 10px;
}
.shw-per {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  font-weight: 800;
  width: 12%;
  position: fixed;
  bottom: 5%;
  right: 10px;
}
@media only screen and (max-width: 1200px) {
  .switch-filter-box {
    height: 40px ;
    width: 10px !important;
   
  }
  .filt-sett {
    font-size: 15px;
    gap: 10px;
  }
  .filtr-main-box {
    width: 45%;
    gap: 10px;
    justify-content: space-between;
  }
  .service-card-container {
    width: 40% !important;
  }
}
@media only screen and (max-width: 940px) {
  .serv-mob {
    width: 70% !important;
   
  }
  .search-filter-box {
    flex-direction: column;
  }
  .search-service-box {
    width: 100%;
    justify-content: center;
  }
  .filtr-main-box {
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .service-card-container {
    width: 100% !important;
  }
  .shw-per {
    display: none;
  }
  .all-services-card-row {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
  }
}
@media only screen and (max-width: 500px) {
  .img-fluid{
  
    
  }
  .search-service-box {
    width: 100%;
    justify-content: center;
  }
  .filtr-main-box {
    width: 100%;
  }
  .each-filter {
    font-size: 10px;
  }
  .filt-sett {
    font-size: 12px;
  }
}
