.chat-first-coloum {
  width: 30%;
  background: #fff;
  padding: 10px;
  box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.08);
  min-height: 80vh;
}
.chat-sencond-coloum {
  width: 65%;
  background: #fff;
  min-height: 80vh;
  position: relative;
}
.mess-txt {
  font-size: 14px;
  font-weight: 900;
  color: #000;
}
.mess-count-box {
  font-size: 18px;
  font-weight: 900;
  justify-content: center;
  gap: 15px;
  border-bottom: 1px solid #edf2f7;
}
.count-mes {
  border-radius: 24px;
  background: #edf2f7;
  width: 40px;
  height: 25px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.search-chat-box {
  border-radius: 12px;
  background: #f3f3f3;
  display: flex;
  gap: 10px;
  padding: 0 10px;
  height: 40px;
  margin: 15px 0;
  align-items: center;
}

.sear-inp-bx {
  width: 95%;
  height: 80%;
  border: none;
  background: transparent;
  font-size: 13px;
}
.profil-vist-mess {
  display: flex;
  align-items: flex-start;
  gap: 7px;
}
.profil-vist-mess img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
}
.mainc img {
  width: 40px;
  height: 40px;
}
.mainc {
  border-bottom: 1px solid #f3f3f3;
  padding: 10px;
  position: fixed;
  z-index: 10;
  width: 100%;
  background: inherit;
}
.name-mess-txt {
  font-size: 14px;
  font-weight: 900;
}
.mess-body-min {
  font-size: 14px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  gap: 5px;
  align-items: center;
}
.time-mess-enter {
  font-size: 12px;
  color: #000;
  opacity: 0.3;
  font-weight: 800;
}
.each-vistor-mess {
  justify-content: space-between;
  align-items: flex-start;
}
.mess-preview-box {
  padding: 10px;
  cursor: pointer;
  margin: 5px 0;
}
.active-mess,
.mess-preview-box:hover {
  background: rgba(97, 94, 240, 0.06);
  border-radius: 14px;
}
.all-vistor-mess-box {
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-width: normal;
}
.all-vistor-mess-box::-webkit-scrollbar {
  width: 0.1vw;
}
.cirle-onl {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #68d391;
}
.main-chat-box {
  padding: 10px;
  max-height: 60vh;
  overflow-y: scroll;
  scrollbar-width: normal;
  margin-bottom: 20px;
  margin-top: 50px;
}
.main-chat-box::-webkit-scrollbar {
  width: 0.1vw;
}
.visitor-chat-mess-cont {
  max-width: 45%;
  margin: 10px 0;
}
.first-mess-from img {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  object-fit: cover;
}
.mess-body-from {
  border-radius: 6px;
  background: #f1f1f1;
  padding: 5px;
  max-width: 100%;
  font-size: 12px;
  font-weight: 500;
}
.first-mess-from {
  gap: 5px;
  align-items: flex-start;
  margin: 5px 0;
}
.at-same-time-mess {
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
}
.owner-mess {
  display: flex;
  justify-content: flex-end;
  /* width: 45%;   */
  /* float: right; */
  margin: 20px 0;
  width: 100%;
}
.owner-wid {
  border-radius: 6px;
  background: #407bff;
  color: #fff;
  max-width: 250px;
}
.end-js {
  align-items: flex-end;
  justify-content: flex-end;
}
.send-mess-box {
  font-size: 18px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  justify-content: space-between;
  position: fixed;
  width: 50%;
  bottom: 0;
}
.icn {
  cursor: pointer;
}
.sen-input-main-cont .icn {
  color: #407bff;
}
.sen-input-main-cont {
  border-radius: 12px;
  border: 2px solid #e2e8f0;
  background: #fff;
  align-items: center;
  padding: 0 10px;
  height: 40px;
  gap: 10px;
  width: 95%;
}
.inp-send-bx {
  width: 95%;
  outline: none;
  border: none;
  font-size: 13px;
}
.back-arr {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .chat-first-coloum {
    width: 35%;
  }
  .chat-sencond-coloum {
    width: 60%;
  }
}
@media only screen and (max-width: 1100px) {
  .chat-first-coloum {
    width: 90%;
  }
  .chat-sencond-coloum {
    width: 100%;
    display: none;
  }
  .back-arr {
    display: initial;
    font-size: 20px;
    margin-right: 10px;
  }
  .visible {
    display: block;
  }

  .hidden {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .chat-first-coloum {
    width: 100%;
  }
  .visitor-chat-mess-cont {
    max-width: 70%;
  }
  .main-chat-box {
    padding: 10px;
    max-height: 80vh !important;
    overflow-y: scroll;
    scrollbar-width: normal;
    margin-bottom: 20px;
    margin-top: 80px;
  }
  .mess-body-from {
   
    font-size: 15px;
    font-weight: 500;
  }

  .send-mess-box {
    font-size: 18px;
    
    padding: 10px;
    justify-content: space-between;
    position: fixed;
    width: 95%;
    bottom: 0;
    background-color: white;
  }
}
