
.rate-rgt {
  min-height: 67vh;
  max-height: 67vh;
}
.ratbd {
  position: relative;
}
.profile-rate-box img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}
.name-rat {
  font-size: 10px;
  font-weight: 900;
}
.star-rate {
  font-size: 8px;
  display: flex;
  gap: 3px;
  margin-top: 3px;
}
.rate-bdy-txt {
  font-size: 10px;
  width: 55%;
}
.reply-btn {
  background: #ff0000;
  border: none;
  padding: 0 10px;
  height: 35px;
  color: #fff;
  border-radius: 5px;
}
.rate-cart-container {
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0;
}
.profile-rate-box {
  gap: 5px;
}
.rate-row-container {
  margin-bottom: 50px;
}
.title-rate-txt {
  font-size: 14px;
  font-weight: 900;
  width: 80%;
  color: #000;
  margin: 10px 0;
}
.coment-box-container {
  margin: 20px 0 60px;
  max-height: 70vh;
  overflow-x: scroll;
  scrollbar-width: normal;
  padding-bottom: 10px;
}
.coment-box-container::-webkit-scrollbar {
  width: 0.1vw;
}
.bdy-cmmt-txt {
  font-size: 12px;
  margin: 8px 0;
}
.you-main-coment-bx {
  display: flex;
  justify-content: flex-end;
  margin: 15px 0;
}
.you-comment-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.input-emoji-bx {
  border-radius: 25px;
  background: rgba(239, 246, 252, 0.87);
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
  gap: 10px;
  width: 85%;
}
.comm-inp {
  font-size: 12px;
  width: 90%;
  border: none;
  outline: none;
  background: none;
}
.emj {
  font-size: 20px;
  cursor: pointer;
}
.sen-com-btn {
  background: #0d6efd;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 15px;
  font-size: 20px;
  color: #fff;
}
.send-comment-box {
  justify-content: space-between;
  gap: 10px;
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0 0;
  z-index: 11111;
  background: #fff;
}
.reply-bxbx {
  max-height: 350px;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: normal;
}
.reply-bxbx::-webkit-scrollbar {
  width: 0.1vw;
}
@media only screen and (max-width: 1000px) {
  .pat-cont {
    flex-direction: column;
  }
  .rate-rgt {
    width: 100%;
  }
  .visible {
    display: block;
  }

  .hidden {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  body{
    overflow: hidden;
  }
  .rate-cart-container {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  .rate-bdy-txt {
    width: 100%;
  }
  .rep-btbn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}
@media only screen and (max-width: 450px) {
  .star-rate {
    font-size: 12px;
  }
  .fill-st {
    font-size: 12px !important;
  }
  .sen-com-btn {
    font-size: 16px;
  }
  .title-rate-txt {
    font-size: 12px;
  }
  .rate-rgt,
  .send-comment-box {
    padding: 8px !important;
  }
}
