@media only screen and (max-width: 600px) {
    .card{
        padding: 0px 0px;
        background-color: #f4f5fa;
        border-style: none;
    }
    input{
        font-size: 13px !important;
        border-color: red;
    }
    .form-control, .form-select{
        border: var(--bs-border-width) solid #5570F1;
    }
}