
.pie-card-nm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pie-card-nm p {
  margin-top: 10px; /* Adjust as needed */
  font-size: 0.8rem;
}


.dashboard-container {
  background: #f3f2f7;
  width: 100%;
}
.main-contaner {
  padding: 10px 20px;
  background: #f3f2f7;
  min-height: 100vh;
}
.greeting-fiter-container {
  gap: 10px;
}
.txt-grt {
  font-size: 12px;
  color: #a3a3a3;
}
.flt-txt {
  font-size: 12px;
}
.flt-dat {
  font-size: 9px;
}
.filter-bx {
  align-items: center;
  display: flex;
  gap: 10px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
  padding: 5px;
  cursor: pointer;
}
.mepn {
  color: #db2d2d;
  font-size: 25px;
}
.sdt-tst {
  font-size: 14px;
}
.leftrec-ads {
  gap: 5px;
}
.set-btn {
  border-radius: 5px;
  font-size: 10px;
  font-weight: 600;
  background: #fff;
  width: 80px;
}
.recieve-ads-box {
  border-radius: 60px;
  background: #fff;
  padding: 10px;
  margin: 15px 0;
}
.each-card-box {
  gap: 10px;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
  justify-content: flex-start;
  padding: 15px 10px;
  width: 23%;
}
.each-card-box img {
  width: 80px;
}
.b-tst {
  font-size: 12px;
}
.row-crd {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
/* chart */
.pie-card-container {
  background: #fff;
  width: 48%;
  border-radius: 14px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
  padding: 20px;
  height: 100%;
}
.pieceas {
  width: 80%;
}
.row-box-pie {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px 0 90px;
}
.pie-bx-flx {
  margin-bottom: 20px;
}
.dot-icon {
  cursor: pointer;
  font-size: 20px;
}
.chartContainer {
  width: 80%;
  margin: 0 auto;
}
.pie-main-box {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.btnrept {
  border-radius: 6px;
  border: 1px solid #2d9cdb;
  background: transparent;
  color: #2d9cdb;
  padding: 4px 6px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}
.each-ctrl {
  width: 40px;
  height: 40px;
  color: #2d9cdb;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin-left: 10px;
  cursor: pointer;
}
.slider-container {
  margin: 20px 0;
  width: 100%;
}
.mini-col-bx {
  width: 320px;
  background: #fff;
  padding: 40px 40px 20px 10px;
  border-radius: 10px;
}
.profil-det {
  gap: 10px;
}
.profil-det img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.nm-txt {
  font-size: 14px;
  font-weight: 600;
}
.tm-txt {
  font-size: 10px;
}
.comment-sp {
  font-size: 15px;
  margin: 10px 0;
}
.rate-stars-tot {
  gap: 10px;
  font-weight: 600;
}
.star-row {
  gap: 10px;
}
.fill-st {
  color: #f7c604;
}
.no-fill-st {
  color: #b9bbbd;
}
.card-col-box {
  margin: 20px 0;
  position: relative;
  margin-left: 20px;
  width: 80%;
}
.prod-image img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  position: absolute;
  top: 20%;
  right: 0;
  border-radius: 50%;
}
.slider-contar {
  width: 75vw;
}
.card-row-box-slide {
  width: 100%;
  overflow: hidden;
}
.slidw-box {
  width: 90%;
}

@media only screen and (max-width: 1050px) {
  .each-card-box {
    width: 45%;
  }
  .pie-card-container {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .recieve-ads-box {
    border-radius: 60px;
    background: #fff;
    padding: 10px;
    margin: 15px 0;
    display: none !important;
}
.filter-bx {
 
  
}
  .sdt-tst {
    font-size: 12px;
  }
  .mepn {
    font-size: 16px;
  }
  .set-btn {
    height: 25px;
    width: 60px;
  }
  .slider-contar {
    width: 80vw;
  }

  .card-col-box {
    width: 60%;
  }

  .profile-pic img {
   display: none;
   
}
.icons-box{

}


}
@media only screen and (max-width: 600px) {
  .serv-lg{
    display: none !important;
  }
  .b-st {
    font-size: 12px !important;
  }
  .greet-bx {
    width: 50%;
  }
  .greet-bx h6 {
    font-size: 12px;
  }
  .txt-grt {
    font-size: 13px;
    width: 200%;
    margin-bottom: 20px;

  }
  .flt-txt {
    font-size: 12px;
  }
  .flt-dat {
    font-size: 10px;
  }
  .filter-bx .each-icon {
    width: 25px;
    height: 25px;
    font-size: 12px;
  }
  .filter-bx {
    gap: 5px;
    height: 50px;
    margin-left: 13px;
  }
  .leftrec-ads {
    width: 70%;
  }
  .mepn {
    font-size: 20px;
  }
  .each-card-box {
    width: 46% !important;
  }
  .b-tst {
    font-size: 12px !important;
    
  }
  .slider-contar {
    width: 90vw;
  }
  .chartContainer {
    width: 100%;
    margin: 0 auto;
  }
  .pie-card-container {
    padding: 10px;
  }
  .each-icon {
    margin-top: 5px;
    width: 34px !important;
    height: 35px !important;
    font-size: 16px;
}
.dash-sm{
  padding: 0px !important;
}
}
@media only screen and (max-width: 500px) {
  .card-col-box {
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .flt-dat {
    font-size: 8px;
    display: none;
  }
  .flt-txt {
    font-size: 8px;
  }
  .each-card-box {
    width: 100% !important;
  }
  .b-tst {
    font-size: 18px;
    padding-left: 10px;
  }
  .count b{
    font-size: 30px !important;

    padding-left: 10px;
  }
  .each-card-box img {
    width: 100px;
  }
}
