.line-first-box {
  width: 100%;
  height: 90px;
  background: #2388ff;
  position: relative;
  border-radius: 20px;
}
.logo-cont-invoice {
  background: #fff;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.6px solid#EBEFF6;
  box-shadow: 0px 2px 19px 0px rgba(48, 95, 151, 0.07),
    0px 2px 4px 0px rgba(48, 95, 151, 0.02);
}
.logo-cont-invoice img {
  width: 35px;
}
.first-abs img {
  width: 80px;
}
.second-abs img {
  width: 100px;
}
.name-comp {
  font-weight: 800;
  font-size: 10px;
}
.email-comp-no {
  font-size: 9px;
  margin: 1px 0;
}
.id-box {
  font-size: 10px;
  color: #2388ff;
  background: #fff;
  border-radius: 20px;
  padding: 3px 8px;
  font-weight: 700;
}
.first-abs {
  bottom: 0.1%;
  left: 3%;
  position: absolute;
}
.second-abs {
  position: absolute;
  right: 5%;
}
.top-box-container {
  position: relative;
}
.details-row {
  position: absolute;
  width: 100%;
  bottom: -10%;
  padding: 0 10px;
  align-items: flex-start;
  color: #fff;
}
.loct-deat {
  font-size: 10px;
}
.first-box-side {
  align-items: flex-start;
}
.to-bill {
  font-size: 12px;
  color: #19213d;
  font-weight: 900;
}
.invoice-date {
  font-size: 10px;
  font-weight: 600;
  margin: 5px 0;
}
.invoice-date span {
  color: #5d6481;
  font-weight: 500;
}
.name-cust {
  font-size: 12px;
  font-weight: 700;
  margin-top: 10px;
}
.bill-to-date-box {
  align-items: flex-start;
  justify-content: center;
  gap: 60px;
  margin: 20px 0;
}
.item-contain-bx {
  margin: 20px 0;
  border-radius: 14px;
  border: 0.6px solid #ebeff6;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(25, 33, 61, 0.05),
    0px 2px 8px 0px rgba(25, 33, 61, 0.04);
  padding: 20px;
}
.itm-bx {
  border-radius: 24px;
  background: #e3efff;
  font-size: 9px;
  font-weight: 700;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.itm-bx img {
  width: 10px;
}
.tw-ts {
  width: 100px;
}
.each-tem-box {
  width: 40%;
}
.each-tem-box-two {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-first-container {
  padding: 30px;
  border-radius: 20px;
  width: 45%;
}
.date-box-cont {
  border-left: 1px solid #cfd1db;
  padding-left: 20px;
}
.body-line-itm {
  margin: 15px 0;
  border-top: 1px solid #cfd1db;
  padding: 10px 0;
}
.itm-tst {
  color: #19213d;
  font-weight: 600;
  font-size: 10px;
}
.itm-pric {
  font-size: 9px;
  color: #5d6481;
  font-weight: 500;
}
.itm-qua {
  font-size: 9px;
}
.invoice-total-container {
  background: #2388ff;
  color: #fff;
  width: 50%;
  padding: 20px;
  border-radius: 20px;
  font-size: 9px;
  font-weight: 600;
}
.sub-amount-bx {
  border-bottom: 1px solid #fff;
  padding: 10px 0;
}
.sub-amount-boxx {
  margin: 10px 0;
}
.tot-inv-total-txt {
  font-size: 10px;
}
.don-tot {
  font-size: 10px;
  font-weight: 800;
}
.tot-full-box {
  display: flex;
  justify-content: flex-end;
}
.btn-pat-nw {
  border-radius: 24px;
  border: none;
  background: #fff;
  box-shadow: 0px -4px 20px 0px rgba(48, 95, 151, 0.2),
    0px -1px 4px 0px rgba(48, 95, 151, 0.2);
  color: #2388ff;
  font-size: 12px;
  padding: 2px 20px;
  height: 35px;
}
.btn-pay {
  display: flex;
  justify-content: flex-end;
  margin: 30px 0;
}
.label-fil {
  font-size: 10px;
  color: #2388ff;
}
.file-label-box {
  width: 45%;
}
.choose-file-box {
  display: flex;
  justify-content: space-between;
  border: 1px solid #2388ff;
  padding: 0 10px;
  height: 50px;
  align-items: center;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}
.choose-file-box span {
  font-size: 10px;
}
.inv-inp {
  outline: none;
  border: none;
  width: 100%;
  background: transparent;
  height: 15px;
  font-size: 12px;
}
.innp-labal-box {
  width: 45%;
  border-radius: 8px;
  border: 1px solid #2388ff;
  height: 50px;
  padding: 0 10px;
  align-items: center;
}
.row-full-box {
  align-items: flex-end;
  margin: 10px 0;
}
.sel-label-box {
  width: 45%;
}
.last-side-container {
  padding: 20px;
  border-radius: 32px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(37, 49, 76, 0.15);
  width: 50%;
}
.invoice-container {
  align-items: flex-start;
}
.twfld {
  height: 25px;
  padding: 0 5px;
  cursor: pointer;
}
.each-tem-bxx {
  display: flex;
  justify-content: flex-end;
}


@media only screen and (max-width: 750px) {
.side-first-container{
  width: 100%;
  margin-top:.5rem;
}

.last-side-container{
  width: 100%;
}
.invoice-container {
  flex-direction: column; /* Stack items vertically on mobile */
  flex-direction: column-reverse;
  align-items: stretch; /* Each item takes up full width */
  
}
.innp-labal-box{
  
  width: 100%;
}

 .file-label-box, .sel-label-box{
  
  width: 100%;
}
.row-full-box{
  flex-direction: column; /* Stack items vertically on mobile */
  align-items: stretch; /* Each item takes up full width */
 
  

}

}
@media only screen and (max-width: 450px) {

.side-first-container{

  
}
}
@media only screen and (max-width: 300px) {
  .side-first-container{
  
  }
}
