/* Sidebar.css */




input:focus + .form-label {
  color: #5570f1 !important;
}
input {
  color: #5e6366 !important;
}

.rating-img {
  padding: 0% !important;
  width: 7.5rem !important;
  height: 10rem;
}
.rating-text-bld {
  font-size: 0.6rem !important;
}
.rating-text {
  font-size: 0.6rem !important;
}

.layout-container {
  display: flex;
  width: 100%;
}
.nav-main-box {
  width: 100%;
}
.sidebar-container {
  width: 20% !important;
  box-shadow: 18px 4px 35px 0px rgba(0, 0, 0, 0.02);
  height: 100vh;
  background: #fff;
  position: fixed;
  z-index: 1112 !important;
  
}
.small-sidber {
  background: #fff;
  min-height: 100vh;
  position: sticky;
  top: 0;
  z-index: 1112 !important;
}
.header-sidebar-box {
  align-items: center;
  gap: 25px;
  padding: 20px 10px;
  justify-content: space-between;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: sticky !important;
    top: 0 !important; 
}
.lo-icon {
  font-size: 30px;
  cursor: pointer;
}
.cls-icon {
  display: none;
}
.menu-main-box {
  font-size: 12px;
  padding: 10px 30px;
  position: sticky;
    top: 100px;
   
}
.ma-txt {
  color: #c7c7c7;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 15px;
}
.new-item {
  background: #ffcff2;
  border-radius: 30px;
  width: 70px;
  height: 30px;
  color: #e328af;
  justify-content: center;
}
.flex {
  align-items: center;
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.menu-tab {
  justify-content: space-between;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
  cursor: pointer;
}
.nav-con {
  font-size: 20px;
}
.icon-drop {
  gap: 10px;
}
.active-link {
  color: #005ade;
}
.icon-down {
  font-size: 18px;
  color: #c2c2c2;
}
.all-menu {
  font-size: 13px;
  font-weight: 600;
}
.drop-item {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 1px;
  margin-left: 30px;
}
.test {
  padding: 0% !important;
}
.drop-container {
  margin-bottom: 15px;
}
.niln {
  display: none;
}
.verify-continer {
  border-radius: 10px;
  background: #005ade;
  box-shadow: 0px 15px 20px 0px rgba(70, 6, 81, 0.12);
  padding: 10px 15px;
  color: #fff;
  align-items: flex-start;
}
.very-btn {
  background: #fff;
  color: #005ade;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 11px;
}
.right-cnt img {
  width: 50px;
}

/* navbar */
.each-icon {
  background: rgba(45, 156, 219, 0.15);
  border-radius: 12px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #2d9cdb;
  position: relative;
  justify-content: center;
}
.counter-box {
  position: absolute;
  background: #2d9cdb;
  border-radius: 50%;
  color: #fff;
  font-size: 8px;
  top: 0;
  right: -4px;
  width: 15px;
  height: 15px;
  justify-content: center;
  border: 2px solid #f3f2f7;
}
.icons-box {
  gap: 15px;
}

.profile-pic img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
}
.nav-profile {
  border-left: 1px solid #d0d6de;
  padding: 0 20px;
  gap: 10px;
}
.navbar-container {
  gap: 30px;
  justify-content: flex-end;
  width: 100%;
  height: 80px;
  border: 1px solid #ebebeb;
  background: #fdfdfd;
  position: sticky;
  top: 0;
  z-index: 112;
}

@media only screen and (max-width: 750px) {
  .remember-text {
    font-size: 20rem !important;
  }

  .small-sidber {
    display: none;
  }
  .layout-container {
    position: relative;
  }
  .sidebar-container {
    display: initial;
    width: 70%;
    position: fixed;
    z-index: 111;
  }
  .right-cnt img {
    width: 80px;
  }
  .lo-icon {
    display: none !important;
  }
  .cls-icon {
    display: initial;
    font-size: 30px;
    cursor: pointer;
  }
  .profile-pic img {
    width: 30px;
    height: 30px;
  }
  .nav-profile {
    font-size: 12px;
    padding: 0 5px;
    gap: 5px;
  }
  .navbar-container {
    justify-content: space-between;
    padding: 10px 20px;
  }

  .menu-main-box {
    overflow-y: scroll;
    height: 100vh;
    padding-bottom: 100px;
  }
  .nav-con {
    font-size: 25px;
  }
  .menu-tab {
   
    margin-bottom: 15px;
 

  }
}
@media only screen and (max-width: 450px) {
  .login-text {
    font-size: 0.8rem;
  }
  .remember-text {
    font-size: 20rem !important;
  }

  .invoice-text {
    font-size: 0.6rem;
  }

  .rating-img {
    padding: 0% !important;
    width: 5rem !important;
    height: 5rem;
  }

  .rating-input {
    width: 100% !important;
  }
  .rating-text-bld {
    font-size: 0.6rem !important;
  }

  .rating-text {
    font-size: 0.6rem !important;
  }
  .rating-text-top {
    font-size: 0.6rem !important;
  }
  .fill-st {
    font-size: 5rem;
  }

  .sidebar-container {
    width: 70% !important;
  }
  .right-cnt img {
    width: 60px;
  }
  .verify-continer {
    gap: 20px;
  }
  .each-icon {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }
  .navbar-container {
    padding: 5px 10px;
    gap: 10px;
    justify-content: space-between;
  }
  .welcome {
    display: none;
  }
}
@media only screen and (max-width: 300px) {
  .sidebar-container {
    width: 100%;
  }
  .right-cnt img {
    width: 50px;
  }
}
