.log-pw input{
  font-size: 40px !important;
}
.log-pw input::placeholder{
  font-size: 18px !important;
}

.innp-labal-box{
    width: 100% !important;
}
.login-container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #f5f8ff;
}
.left-login-box {
  width: 50%;
  text-align: center;
  padding: 0 80px;
}
.right-login-box {
  background: #407bff;
  width: 50%;
  height: 100vh;
}
.login-top-txt {
  font-size: 40px;
  font-weight: 900;
}
.wel-bdy,
.wel-txt-hr {
  font-size: 12px;
  font-weight: 700;
  color: #71717a;
}
.hr-wel-box {
  position: relative;
  margin: 20px 0;
}
.wel-txt-hr {
  position: absolute;
  top: 0;
  background: #f5f8ff;
  left: 30%;
}
.aut-form {
  margin-top: 60px;
}
.rei-aut {
  margin-top: 10px !important;
}
.aut-inp {
  text-align: left;
  width: 100%;
  margin: 10px 0;
}
.wid-aut {
  width: 100%;
}
.rem-txt {
  font-size: 11px;
  font-weight: 600;
  color: #71717a;
}
.link-forgot {
  font-size: 13px;
  font-weight: 700;
  color: #407bff;
  cursor: pointer;
}
.log-btn {
  border: none;
  width: 100%;
  background: #407bff;
  height: 40px;
  color: #fff;
  border-radius: 8px;
  font-weight: 800;
  margin: 40px 0 20px;
}
.res-btn {
  margin: 10px 0 !important;
}
.rember-forgot {
  margin: 10px 0;
}

.avail {
  text-align: left;
  font-size: 10px;
  color: #437c41;
}
.warn-pass {
  text-align: left;
}
.aree-txt {
  font-size: 10px;
}

.aree-txt span {
  color: #407bff;
}
.agree-bx {
  justify-content: center;
}
input[type="checkbox"] {
  border: 1px solid #407bff;
  --web-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  outline: none;
  cursor: pointer;
}

input[type="checkbox"]::after {
  font-family: "Font Awesome 6 free";
  font-weight: 900;
  content: "\f00c";
  font-size: 12px;
  color: #fff;
  display: none;
  padding: 1px;
}
input[type="checkbox"]:hover {
  background: #fff;
}
input[type="checkbox"]:checked {
  background: #407bff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
}
input[type="checkbox"]:checked::after {
  display: initial;
}
@media only screen and (max-width: 940px) {
  .login-container {
    flex-direction: column;
    padding: 50px 0;
  }
  .right-login-box {
    display: none;
  }
  .left-login-box {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .right-login-box, .welc {
    display: none !important;
  }
  .log-inp input{
    font-size: 13px !important;
  }
  input[type="password"] {
    font-family: caption;
    font-size: 20px !important;
}
 
}


@media only screen and (max-width: 500px) {
  .left-login-box {
    padding: 30px;
  }
}



