.first-report-coloum {
  width: 38%;
  background: #fff;
  border-bottom-left-radius: 20px;
  padding: 10px;
  min-height: 80vh;
  position: relative;
}
.new-row-rep,
.new-row-cat {
  justify-content: space-between !important;
}
.filter-report {
  width: 80%;
  margin: 0 auto;
}
.rpt-fitl {
  width: 100% !important;
}
.switch-filter-box {
  width: 100% !important;
}
.report-dat-fil {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.rep-date-bx {
  width: 50%;
}
.jsd-rt {
  justify-content: flex-end;
  margin: 5px 0;
}
.down-bttn {
  border: none;
  outline: none;
  padding: 0 5px;
  height: 30px;
  border-radius: 3.214px;
  background: #000;
  color: #fff;
  font-size: 9px;
}
.down-btn-box {
  display: flex;
  gap: 8px;
  width: 100%;
  position: absolute;
  bottom: 3%;
  right: 3%;
  justify-content: flex-end;
}
.exl {
  background: #6d80e5;
}
.pdff {
  background: #e37882;
}
.secont-chart-coloum {
  width: 33%;
}
.nill {
  display: none;
}

.third-colum-report {
  width: 20%;
}
.trd-rport-card {
  border-radius: 8.035px;
  background: #fff;
  padding: 15px;
  box-shadow: 0px 6.056px 15.141px 0px rgba(0, 0, 0, 0.08);
  margin: 25px 0;
}
.top-tsxt {
  font-size: 12px;
  color: #495057;
  font-weight: 900;
}
.date-ran-txt {
  font-size: 10px;
  color: #495057;
}
.view-tsxt {
  font-size: 13px;
  cursor: pointer;
  color: #e37882;
}
.down-view-container {
  justify-content: space-between;
  margin: 15px 0;
}

.exl-cl {
  color: #6d80e5;
}
@media only screen and (max-width: 1200px) {
  .new-row-rep {
    flex-direction: column;
    gap: 20px;
  }
  .first-report-coloum,
  .secont-chart-coloum {
    width: 100%;
  }
  .third-colum-report {
    width: 50%;
  }
}
@media only screen and (max-width: 500px) {
  .third-colum-report {
    width: 80%;
  }
}
